.container{
    max-width: 120rem;
    margin: 8rem;
    background-color: var(--color-grey-light-1);
    min-height: 50rem;
    box-shadow: 0 20px 60px rgba(0, 0, 0, .3);
}

.header {
    background-color: var(-color-grey-light-1);
    height: 7rem;
    border-bottom: var(--color-grey-light-2);
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    // please not font size is 1rem but for the header we are using 1.4rem
    font-size: 1.2rem;
}

.content{
   // background-color: var(--color-grey-dark-1);
    display: flex;

}

.sidebar{
    background-color: var(--color-grey-dark-1);
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
   // background-color: greenyellow;
    flex: 1; // element will grow as much, It can
   // height: 80rem;
}

.detail{
    display: flex;
    padding: 4.5rem;
    font-size: 1.4rem;
    color: var(--color-grey-dark-3);
}

